@import "./assets/sass/globals";

body,
html,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 1920px;
  background-color: $orange;
}

body::-webkit-scrollbar {
  width: 3px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: $orange; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: $black; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Cairo", sans-serif;
  box-sizing: border-box;
}

.app-container {
  header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    div {
      font-size: 26px;
      font-weight: bold;
    }
  }
  .new-comments-head {
    background-color: $black;
    color: $white;
    padding: 7px;
    padding-left: 15px;
    border-radius: 0 25px 125px 0;
    width: 250px;
  }
  .feed-head {
    background-color: $black;
    color: $white;
    padding: 5px;
    border-radius: 25px 0 0 125px;
    width: 250px;
    text-align: center;
    font-size: 28px;
  }
  .app-body {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
  }
  .feeds-container {
    padding-top: 50px;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 1fr;
    width: 100%;
   
  }
  .comments-container {
    position: relative;
    margin-right: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    overflow-y: auto;
    padding-bottom: 80px;
    padding-right: 10px;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .feed-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 500px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 50%;
      height: 100px;
      background: $orange;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        $orange 100%
      );
      bottom: 0;
      left: 0;
      z-index: 2;
    }
  }
  .feed-holder {
    margin-right: 40px;
  }
}
